.navigation {
  padding-top: 175px;
}

.links {
  float: center;
  list-style-type: none;
  color: #98c3ff;
  font-family: var(--press-font);
  text-transform: uppercase;
  line-height: 25px;
  font-size: 1rem;
}

.links a {
  display: block;
  text-align: center;
  text-decoration: none;
}

.links a:hover {
  color: #f4f4f49a;
}

.button {
  background-color: #746ffa9a;
  font-family: var(--press-font);
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #98c3ff;
  text-transform: uppercase;
  font-size: 1rem;
}

.button a:hover {
  color: #f4f4f49a;
}
