.credit {
  position: absolute;
  flex-direction: column;
  text-align: right;
  top: 700px;
  left: 1200px;
}

.card {
  position: absolute;
  top: 50px;
  left: 500px;
  border: 10px solid transparent;
  padding: 15px;
  border-color: #4c008a;
  border-radius: 8px;
  border-width: 5px;
  backdrop-filter: blur(5px);
}

.card_image {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 350px;
  border-radius: 8px;
  box-shadow: 0px 5px 25px #5b5b5b;
}

.card_description {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 300px;
  height: 200px;
  background-image: linear-gradient(to right, #4c008a, #746ffa9a, #f83def);
  border-radius: 8px;
  box-shadow: 0px 5px 25px #5b5b5b;
  font-family: var(--press-font);
  line-height: 15px;
  color: #98c3ff;
  text-transform: uppercase;
}

.card_header {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10px;
}

.card_about {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 9px;
}

.card_clue {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 9px;
  color: #98c3ff;
}

.card_link {
  color: #f83def;
}

.dice {
  position: absolute;
  right: 470px;
  top: 338px;
  cursor: pointer;
}
